@import url(https://tools-static.wmflabs.org/fontcdn/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin,latin-ext,vietnamese);
@mixin tab {
    height: 100%;
    cursor: pointer;
}

:local(.tab) {
    @include tab;
    background-color: rgb(45, 45, 45);
}

:local(.activeTab) {
    @include tab;
    background-color: rgb(30, 30, 30);
}

:local(.tabText) {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; // idk where this came from, i just typed roboto and pressed tab
}
