@mixin fillParent {
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#root {
    @include fillParent();
    overflow: hidden;

    $tabBarPercent: 5%;
    #tabBar {
        width: 100%;
        height: $tabBarPercent;
    }

    #container {
        height: 100%-$tabBarPercent;
    }
}
